body {
    background-color: white;
    color: black;
    margin: 0;
    font-family: Arial, sans-serif;
}
.dark-mode body {
    background-color: black;
    color: white;
}
.header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: right;
}

#display {
    background-color: transparent;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

#display:hover {
    background-color: #555;
}

.Container {
    display: flex;
    margin: 10px;
}

#imageContainer {
    flex: 1;
}

#blogImg {
    width: 100%;
    height: auto;
}

#formContainer {
    flex: 1;
    padding-left: 10px;
}

form {
    max-width: 400px;
    margin: 0 auto;

}

label {
    font-weight: bold;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button[type="submit"] {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

button[type="submit"]:hover {
    background-color: #555;
}